build:fuse              --remote_instance_name=fuse

build:linux                --config=fuse
build:linux                --platforms=@cc_toolchains_linux//:linux-x86_64

build:linux-aarch64                --config=fuse
build:linux-aarch64                --platforms=@cc_toolchains_linux//:linux-aarch64